aliyun-python-sdk-alidns==2.6.19
aliyun-python-sdk-core==2.13.29
huaweicloudsdkcore==3.1.5
huaweicloudsdkdns==3.1.5
requests==2.28.1
tencentcloud-sdk-python==3.0.806
cloudflare==2.11.7
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.1.1
cloudflare==2.11.7
cryptography==41.0.3
idna==3.4
jmespath==0.10.0
jsonlines==4.0.0
pycparser==2.21
PyYAML==6.0.1
requests-futures==1.0.1
requests-toolbelt==1.0.0
simplejson==3.17.0
six==1.16.0
soupsieve==2.5
urllib3==1.26.16
